# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env

# Ignore any log files
*.log

# env files to be ignored
.env
.venv
.gitattributes

# screts
client_secret.json
.streamlit/secrets.toml